/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: #1a1a1a; /* Dark background for contrast */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

header, footer {
    background-color:rgba(47, 53, 47, 0.9);
    color: white;
    text-align: center;
    padding: 0;
    position: relative;
    font-family: 'Cinzel', serif; /* Apply the fantasy font */
    font-size: 1.5rem;
    letter-spacing: 2px;
}
footer {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 0px;
}

header {
    h1 {
        margin: 0;
    }

    #profile-icon, #icon {
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
    }

    #profile-icon {
        right: 10px;
        width: 40px;
        height: 40px;
    }

    #icon {
        left: 10px;
        width: 40px;
        height: 40px;
    }
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

button {
    background-color: rgba(47, 53, 47, 0.8); /* Slightly transparent background */
    border: none;
    color: white;
    padding: 15px 50px; /* Adjust padding for thinner and longer button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Slightly larger font size */
    margin: 10px 5px;
    padding: 5px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 400px;
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%); /* Adjusted six-sided shape */
    position: relative; /* To position the box-shadow */
    font-family: 'Cinzel', serif; /* Apply the fantasy font */
}

button:hover {
    background-color: rgba(24, 27, 24, 0.8); /* Darker and slightly transparent on hover */
    transform: scale(1.05);
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 1rem;
}

#profile-display p {
    text-align: left;
    margin: 10px 0;
}

/* Popup styles */
#character-list-popup {
    background-color: rgba(47, 53, 47, 0.8); /* Adjusted background color */
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Added box shadow */
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%); /* Eight-sided shape */
}

#character-list-popup ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

#character-list-popup li {
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#character-list-popup li:hover {
    background-color: rgba(47, 53, 47, 0.8);
}

.delete-character-button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: red; /* Make delete buttons red */
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.delete-character-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.last-saved {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin-top: 20px; /* Space above buttons */
}

#stats-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 75%;
    margin: auto; /* Center the form */
}

.column {
    width: 48%; /* Adjusted width for better spacing */
}

.section {
    background-color: rgba(47, 53, 47, 0.8); /* Transparent grey background */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%); /* Eight-sided shape */
}

.attribute-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 45%;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select {
    width: 55%; /* Adjusted width for better spacing */
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background: none;
    color: white;
    outline: none;
}

input[type="number"] {
    text-align: right;
}

.save-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(47, 53, 47, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10000;
}
/* Additional styles for centering the Back to Home button */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
select {
    font-family: 'Cinzel', sans-serif; /* Change font to Cinzel */
    background-color: transparent; /* Make background transparent */
    padding: 8px; /* Add padding for better appearance */
    border-radius: 5px; /* Add border radius for rounded corners */
    color: white; /* Change text color to white */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}

select option {
    background-color: rgba(0, 0, 0, 0.5); /* Make dropdown options transparent */
}
select option:checked {
    background-color: rgba(47, 53, 47);
}
h2{
    color: white;
}
span{
    color:white;
}